= form_for @law_proposal do |f|
  - if @law_proposal.errors.any?
    #error_explanation
      %h2= "#{pluralize(@law_proposal.errors.count, "error")} prohibited this law_proposal from being saved:"
      %ul
        - @law_proposal.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_field :description
  .field{data: { controller: "clipboard" } }
    = f.label :url
    = f.text_field :url, { data: { target: "clipboard.source" } }
    %button{ type: "button", data: { action: "clipboard#copy", class: "clipboard-button" } } Copy to clipboard
  .actions
    = f.submit 'Save'
