.container
  %h1 Listing law_proposals

  %table.table
    %thead
      %tr
        %th Name
        %th Description
        %th Url
        %th
        %th
        %th

    %tbody
      - @law_proposals.each do |law_proposal|
        %tr
          %td= law_proposal.name
          %td= law_proposal.description
          %td= law_proposal.url
          %td= link_to 'Show', law_proposal
          %td= link_to 'Edit', edit_law_proposal_path(law_proposal)
          %td= link_to 'Destroy', law_proposal, :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br

  = link_to 'New Law proposal', new_law_proposal_path
