%p#notice= notice

%p
  %b Name:
  = @law_proposal.name
%p
  %b Description:
  = @law_proposal.description
%p
  %b Url:
  = @law_proposal.url

= link_to 'Edit', edit_law_proposal_path(@law_proposal)
\|
= link_to 'Back', law_proposals_path
