!!!
%html.h-screen
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %title Polikompas
    %link{href: "https://rsms.me/inter/inter.css", rel: "stylesheet"}
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_packs_with_chunks_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload'
  %body.h-full
    .flex.flex-col.h-full
      = render "shared/navigation"
      = yield
